<div class="container">
    <h1 class="container__title">大裴吃什麼</h1>
    <img class="container__image" src="assets/images/what-to-eat.gif" width="100%">
    <div class="container__buttons">
        <a routerLink="/draw-lots" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button class="button-54" role="button">
                抽食物
            </button>
        </a>
        <button class="button-54" role="button">看菜單</button>
    </div>
    <footer class="footer">
        <p>Made by Ted Hsu</p>
        <p>圖片創作者: <a href="https://store.line.me/stickershop/author/97014/zh-Hant" target="_blank">刷子</a></p>
    </footer>
</div>